header h1 {
  font-weight: 300;
  font-size: 1.4em;
  line-height: 1.4;
  color: #FFF;
  margin-top: 0px;
  margin-bottom: 0px;
}

html {
  font-family: "Roboto", sans-serif;
}

header p {
    font-size: 1em;
    margin: 0px 0px 0px;
    display: inline-block;
    font-style: italic;
    padding: 6px 10px;
    background: #FAF46A none repeat scroll 0% 0%;
    color: rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    line-height: 1;

}

header {
    width: 100%;
    text-align: center;
    padding: 1.2em 0em 0em 0em;
    margin-bottom: 0px;
}

header img {
    max-height: 160px;
}

header nav{
    box-shadow: none;
    margin-top: 15px;
    width: 100%;

}


header nav ul.hide-on-med-and-down {
    width: 100%;
    min-height: 60px;
    margin-bottom: 0px;
}







.section-title {
    position: relative;
    margin-bottom: 1em;
    font-size: 22px;
    font-weight: 400;
    text-align: left;
}

h2 {
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}
.section-title i {
    padding: 6px;
    border-radius: 50%;
    color: #dddddd;
    border: 4px solid #dddddd;
    margin-right: 16px;
    font-size: 24px;
}
nav {
  padding-bottom: 2cm;
}
.card-image {
    height: 100%;
}

.cartao {
    height: 50%;
}

add {

}
