{% extends "base.html" %}

{% block content %}


  <div class="container">
    <div id="about" class="row">
      <div class="col s12 m12">
        <h2 class="header indigo-text lighten-1 section-title">
          <span ><i class="small material-icons">visibility</i>About Me </span><div class="divider"></div>
        </h2>
        <p class="flow-text align="justify"">Hello! I'm <strong class="indigo-text  darken-4">Carlos Filho</strong> and I am a <strong>Website and Application Developer</strong> and Python lover. Also I am  an <strong class="indigo-text lighten-1">Electrical Engineering</strong> student at UFRN, and Web Developer student at Free Code Camp, a online plataform that teaches coding while helping non-profits.</p>
      </div>
      <div style="display: none; visibility: hidden;" class="col s4 m4">
        <h2 class="header indigo-text lighten-1 section-title">
          <span><i class="small material-icons">perm_identity</i>That's Me </span><div class="divider"></div>
          <div id="tuite"></div>
        </h2>
        </div>
      </div>
      <div id="portfolio" class="row">
        <div class="col s12 m12">
          <h2 class="header indigo-text lighten-1 section-title">
            <span><i class="small material-icons">dashboard</i>Portfólio </span><div class="divider"></div></h2>
          </div>
        </div>
        <div class="row">
          <div class="col s6 m6 l6">
            <div class="card grey lighten-5 z-depth-1 medium">
              <div class="card-image cartao">
                <img src="http://imageshack.com/a/img924/248/zB0Omh.png">
                <span class="card-title black-text"><b>Random Quotes Generator</b></span>
              </div>
              <div class="card-content">
                <p>Small project in which I utilized Bootstrap/HTML/CSS for the layout and jQuery/JavaScript to fetch  data from a Quote Generator API.</p>
              </div>
              <div class="card-action">
                <a style="color: indigo;" href="/ramq">RandomQuoteGenerator</a>
              </div>
            </div>

          </div>
          <div class="col s6 m6 l6">
            <div class="card grey lighten-5 z-depth-1 medium">
              <div class="card-image cartao">
                <img src="http://imageshack.com/a/img921/51/N5fzHO.png" class="reeesponsibe-img">
                <span class="card-title black-text"><b>Previsão do Tempo</b></span>
              </div>
              <div class="card-content">
                <p>Small project in which get data from OpenWeatherMap API's accordingly to the Geolocation of the user. Layout made with Materialize.</p>
              </div>
              <div class="card-action">
                <a style="color: indigo;" href="http://codepen.io/cfmedeiros/full/qNmZwX/">Codepen.io</a>
              </div>
            </div>

          </div>
        </div>
        <div style="display: none; visibility: hidden; "class="row">
          <div class="col s6 m6 l6">
            <div class="card grey lighten-5 z-depth-1">
              <div class="card-image">
                <img src="http://qlip.in/sites/default/files/600x393xYMCA-Realtor-Donation-3.jpeg.pagespeed.ic.vJV7L8HzF-.jpg" class="responsive-img">
                <span class="card-title">Exemplo.com</span>
              </div>
              <div class="card-content">
                <p>This is one of my projects</p>
              </div>
              <div class="card-action">
                <a style="color: indigo;" href="#">Exemplo.com</a>
              </div>
            </div>

          </div>
          <div class="col s6 m6 l6">
            <div class="card grey lighten-5 z-depth-1">
              <div class="card-image">
                <img src="http://qlip.in/sites/default/files/600x393xYMCA-Realtor-Donation-3.jpeg.pagespeed.ic.vJV7L8HzF-.jpg" class="responsive-img">
                <span class="card-title">Exemplo.com</span>
              </div>
              <div class="card-content">
                <p>This is one of my projects</p>
              </div>
              <div class="card-action">
                <a style="color: indigo;" href="#">Exemplo.com</a>
              </div>
            </div>

          </div>
        </div>

          </div>
        </div>
      </div>


{% endblock %}
